<%- include ("partials/header") %>

<ul class = "resultlist"> 
    <%for(var i = 0; i < results.length || i < movie_url.length; i++){%>
        <li class = "results">
          <div class = "card-img">
            <img class="movie-poster" src=<%= movie_url[i] %>>
            <h4 class = "movie-name"><%= results[i] %></h4>
          </div>
          
          <!-- <div class="Middle">
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><h5><%= results[i] %></h5></span>
              </div>

              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src=<%= movie_url[i] %>>
              </div>
                
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><%= results[i] %></span>
                <div class = "content">
                  <h4>Overview</h4>
                  <p><%= description[i] %></p>
                  <h4>Rating: <%= rating[i] %>/10</h4>
                </div>
              </div>
            </div> -->
          </li>
    <%}%>
</ul>






<%- include ("partials/footer") %>