<%- include ("partials/header") %>

<ul class = "resultlist"> 
    <%for(var i = 0; i < results.length || i < movie_url.length; i++){%>
        <li class = "results">
          <div class = "card-img">
            <a href = <%= "/results/"+ id[i] %>>
            <img class="movie-poster" src=<%= movie_url[i] %>>
            <h4 class = "movie-name"><%= results[i] %></h4>
          </a>
          </div>
          </li>
    <%}%>
</ul>






<%- include ("partials/footer") %>